{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block show %}
	<div class="sonata-ba-view">

		{{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

		{{ form(form) }}

			{{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

		</div>
	{% endblock %}
