{% if admin.isGranted('VIEW', object) and admin.hasRoute('exportFFME') %}
	<a href="{{ admin.generateObjectUrl('exportFFME', object) }}" class="btn btn-info btn-sm" title="Générer le fichier pour inscrire les adhérents à la FFME">
		<i class="fa fa-tasks"></i>
		Export vers FFME
	</a>
{% endif %}
