{% if admin.isGranted('VIEW', object) and admin.hasRoute('importFFME') %}
	<a href="{{ admin.generateObjectUrl('importFFME', object) }}" class="btn btn-success print_link btn-sm" title="Réimporter le fichier des adhérents de la FFME">
		<i class="fa fa-random"></i>
		Import depuis FFME
	</a>
{% endif %}
