{% if admin.isGranted('NEW', object) and admin.hasRoute('clone') %}
	<a href="{{ admin.generateObjectUrl('clone', object) }}" class="btn btn-warning print_link btn-sm" title="Créer une nouvelle saison." onclick="return confirm('Voulez-vous créer une nouvelle saison ?)">
		<i class="fa fa-plus"></i>
		Dupliquer
	</a>
{% endif %}
