{% block body %}

Bonjour {{ subscription.firstName|raw }},

Votre souhait d'inscription à Suresnes Escalade pour la {{ subscription.season.title|lower|raw }} a bien été enregistré dans notre base de données sous le numéro {{ subscription.id }}.

{% if subscription.noSlot %}
Vous avez coché la case "administrateur".
{% else %}
Votre souhait de grimpe porte sur les créneaux de "{{ subscription.slot1.title|raw }}" ou "{{ subscription.slot2.title|raw }}".
{% endif %}
Votre demande ne sera prise en compte qu'une fois le payement effectué.

{% if subscription.status == 0 %}
Il n'y a plus de place dans les créneaux que vous avez choisis. Nous vous conseillons de modifier votre inscription :
{{ url('simple_subscription', { ref: subscription.id, key: subscription.key })|raw }}
Si toutefois aucun autre créneau ne vous convient, nous gardons votre pré-inscription en attente.
{% else %}
Le montant de votre cotisation annuelle est de {{ subscription.priceCalculated }} €.
Vous devez effectuer votre réglement dans la foulée de votre inscription, sinon votre demande ne pourra pas être prise en compte.
Cliquez sur le lien correspondant à votre créneau :
  * Pour les créneaux enfants (8-10 ans) : https://www.helloasso.com/associations/suresnes-escalade/adhesions/{{ subscription.season.title|lower|raw|replace({' ':'-'}) }}-enfants
  * Pour les créneaux jeunes (10-17 ans) : https://www.helloasso.com/associations/suresnes-escalade/adhesions/{{ subscription.season.title|lower|raw|replace({' ':'-'}) }}-jeunes
  * Pour les créneaux adultes : https://www.helloasso.com/associations/suresnes-escalade/adhesions/{{ subscription.season.title|lower|raw|replace({' ':'-'}) }}-adultes

Une fois le règlement effectué, et sous réserve de places disponibles sur un des créneaux choisis, votre inscription sera validée par un des membres du bureau du club. Vous recevrez alors un mail de confirmation.

Récapitulatif de votre fiche de pré-inscription :
{{ url('simple_subscription_print', { ref: subscription.id, key: subscription.key })|raw }}

Pour modifier vos informations, en cas d'erreur :
{{ url('simple_subscription', { ref: subscription.id, key: subscription.key })|raw }}
{% endif %}

--------

Nom : {{ subscription.lastName|raw }}
Prénom : {{ subscription.firstName|raw }}
Date de naissance : {{ subscription.birthday|date('d/m/Y')|raw }}

--------

Sportivement,

L'équipe de Suresnes Escalade
inscription@suresnes-escalade.fr


PS : Conformément à la loi, vous avez un droit d'accès et de modification aux informations vous concernant.
Pour exercer ce droit, écrivez-nous à l'adresse suivante : contact@suresnes-escalade.fr
{% endblock %}
