{% block body %}

Bonjour {{ subscription.firstName|raw }},

Votre inscription a été validée par un membre du bureau.

------

Nom : {{ subscription.lastName|raw }}
Prénom : {{ subscription.firstName|raw }}
{% if subscription.activatedSlot %}
Créneau : {{ subscription.activatedSlot.title|raw }}
{% else %}
Pas de créneau de grimpe sur le mur.
{% endif %}

------

Si vous avez besoin d'une attestation de payement, vous pouvez la télécharger ici :
{{ url('simple_subscription_voucher', { ref: subscription.id, key: subscription.key })|raw }}

1/ Attention, si vous êtes adulte, nouvel adhérent au club, vous devez nous transmettre un certificat médical de non contre-indication à la pratique de l'escalade (daté de {{ 'now'|date('Y') }}), dans les plus brefs délais, sans quoi votre inscription ne sera pas prise en compte et vous risquez de perdre la place (photo lisible ou scann du certificat à envoyer à inscription@suresnes-escalade.fr)
Ancien adhérent adulte, vous devez aussi transmettre un certificat médical récent (daté de {{ 'now'|date('Y') }} ) si le dernier certificat transmis au club date de {{ 'now'|date('Y')-3 }}.

2/ L'adhésion à Suresnes Escalade implique d'accepter le règlement intérieur et les statuts du club.

Votre licence vous sera envoyée par email par la FFME fin septembre.

{% if subscription.activatedSlot %}
Pour information la reprise des cours d'escalade est prévue le lundi {{ 'second monday of september'|date('d') }} septembre {{ subscription.season.beginAt|date('Y') }}.
{% endif %}


Sportivement,

L'équipe de Suresnes Escalade
inscription@suresnes-escalade.fr

PS : Conformement à la loi, vous avez un droit accès et de modification aux informations vous concernant.
Pour exercer ce droit, rendez vous à l'adresse suivante : http://suresnes-escalade.fr

{% endblock %}
