{% import _self as helper %}

{% macro lastname(lastname, full) %}
    <span class="lastname">
	{% if full %}
	    {{ lastname }}
	{% else %}
	    {{ lastname|first }}
	{% endif %}
    </span>
{% endmacro %}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('app/css/style.css')}}">
{% endblock %}

{% block body %}
    <h1>Liste des inscrits par créneau /
	{{season.title}}</h1>

    <table class="creneaux-remplissage">
	<thead>
	    <tr>
		<th>
		    <h2>Créneaux</h2>
		</th>
		<th>
		    <h2>Inscrits</h2>
		</th>
	    </tr>
	</thead>
	{% for slot in slots %}
	    <tr data-slot-id="{{slot.id}}">
		<td class="slot">
		    <h3 data-testid="slot-title">{{ slot.title }}</h3>
		    <p>
			<strong>({{ slot.maxPlaces }}
			    personnes maximum)</strong>
		    </p>
		    <p class="description">{{ slot.description|nl2br }}</p>
		</td>
		<td data-testid="slot-subscription" class="subscription">
		    {% if slot.subscriptions|length > 0 %}
			<ol>
			    {% for subscription in slot.subscriptions | filter(subscription => subscription.isActive) %}
				<li>{{ subscription.firstName|capitalize }}
				    {{helper.lastname(subscription.lastName, full)}}
				    {% if not subscription.hasValidCertificate %}
					( Certif
					{{ subscription.getCertifStatusLabel|lower }}
					)
				    {% endif %}
				</li>
			    {% endfor %}
			</ol>
		    {% endif %}

		    {% if slot.waitingSubscriptions| length > 0 %}
			<ul>
			    {% for subscription in slot.waitingSubscriptions | filter(subscription => (subscription.isWaiting or subscription.isPaymentPending or subscription.isWaitingPlace)) %}
				<li class="waiting">{{ subscription.firstName|capitalize }}
				    {{helper.lastname(subscription.lastName, full)}}
				    {% if subscription.hasValidCertificate %}
					(
					{{ subscription.getStatusLabel }}
					)
				    {% else %}
					(
					{{ subscription.getStatusLabel }}, certif
					{{ subscription.getCertifStatusLabel|lower }}
					)
				    {% endif %}
				</li>
			    {% endfor %}
			</ul>
		    {% endif %}
		</td>
	    </tr>
	{% endfor %}
    </table>
{% endblock %}
