{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
	<a href="{{ admin.generateObjectUrl('print', object) }}" class="btn btn-warning print_link btn-sm" title="{{ 'action_print'|trans({}, 'SonataAdminBundle') }}">
		<i class="fa fa-print"></i>
		Imprimer
	</a>
{% endif %}
