{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
	<a href="{{ admin.generateObjectUrl('voucher', object) }}" class="btn btn-success voucher_link btn-sm" title="{{ 'action_voucher'|trans({}, 'SonataAdminBundle') }}">
		<i class="fa fa-envelope"></i>
		Justificatif
	</a>
{% endif %}
