.sonata-bc .logo img {
  max-width: 100%;
}

.sonata-ba-list .subscription-actions,
.sonata-ba-list .slot-actions {
  min-width: 260px;
}

.sonata-ba-list .subscription-season {
  min-width: 130px;
}

.sonata-ba-list .btn-default.view_link {
  color: #ffffff;
  background-color: #00a65a;
}

.sonata-ba-list .btn-default.edit_link {
  color: #ffffff;
  background-color: #3c8dbc;
}

.sonata-ba-list .btn-default.delete_link {
  color: #ffffff;
  background-color: red;
}
