{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
  <div class="login">
    {% if error %}
      <div class="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form name="loginform" id="loginform" action="{{ path('app_login') }}" method="post">
      <p>
        <label for="login">Identifiant ou adresse e-mail</label>
        <input type="text" id="login" name="_login" value="{{ last_username }}" autocomplete="username">
      </p>

      <p>
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="_password" autocomplete="current-password">
      </p>
      <p class="forgetmenot">
        <input name="_remember_me" type="checkbox" id="remember_me" value="1">
        <label for="remember_me">Se souvenir de moi</label>
      </p>
      <p class="submit">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="submit" class="submit" value="Se connecter">
      </p>
    </input>
  </p>
</form></div>{% endblock %}
