<!DOCTYPE html>
<html class="no-js" lang="fr-FR">
  <head>
    <meta charset="utf-8"/>
    <title>
      {% block title %}Suresnes Escalade
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block robots %}
      <meta name="robots" content="noindex,follow"/>
    {% endblock %}
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('app/css/style.css') }}" media="all"/>
  </head>
  <body class="home page page-id-2 page-template-default">

    <section id="wrap">
      <header>
        <section class="shell">
          <div class="site-branding">
            <div class="site-logo">
              <a href="/" class="custom-logo-link" rel="home">
                <img width="239" height="100" src="{{ asset('app/images/logo.png') }}" class="custom-logo" alt="Suresnes Escalade">
              </a>
            </div>
          </section>
        </header>

        <section id="bottom">
          <section class="shell">
            <article id="content" class="post-331 page type-page status-publish hentry"> {% block body %}{% endblock %}
              </article>
            </section>
          </section>
        </section>
        {% block javascripts %}{% endblock %}
    </body>
  </html>
