{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_top_nav_menu_user_block %}
  {% if app.user %}
    <li class="dropdown user-menu">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fas fa-user fa-fw" aria-hidden="true"></i>
        <i class="fas fa-caret-down" aria-hidden="true"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        {{ render_esi(url('app_version')) }}
        <li class="bg-light-blue">
          <p>{{'Connected as'|trans}}
            {{ app.user }}</p>
        </li>

        <li class="user-footer">
          <div class="pull-right">
            <a href="{{ path('app_logout') }}" class="btn btn-default btn-flat">
              <i class="fas fa-sign-out-alt fa-fw"></i>
              {{ 'logout'|trans }}
            </a>
          </div>
        </li>
      </ul>
    </li>
  {% endif %}
{% endblock %}
