{% block body %}
<p>Bonjour {{ subscription.firstName }},</p>

<p>Votre souhait d'inscription à Suresnes Escalade pour la {{ subscription.season.title|lower }} a bien été enregistré dans notre base de données sous le numéro {{ subscription.id }}.</p>

{% if subscription.noSlot %}
<p>Vous avez coché la case "administrateur".</p>
{% else %}
<p>Votre souhait de grimpe porte sur les créneaux de "{{ subscription.slot1.title }}" ou "{{ subscription.slot2.title }}".</p>
{% endif %}

<p>Votre demande ne sera prise en compte qu'une fois le paiement effectué.</p>

{% if subscription.status == 0 %}
<p>Il n'y a plus de place dans les créneaux que vous avez choisis. Nous vous conseillons de <a href="{{ url('simple_subscription', { ref: subscription.id, key: subscription.key }) }}">modifier votre inscription</a>
</p>

<p>Si toutefois aucun autre créneau ne vous convient, nous gardons votre pré-inscription en attente.</p>
{% else %}
<p>Le montant de votre cotisation annuelle est de {{ subscription.priceCalculated }}€.</p>
<p>Vous devez effectuer votre réglement dans la foulée de votre inscription, sinon votre demande ne pourra pas être prise en compte.</p>
<p>Cliquez sur le lien correspondant à votre créneau :</p>
<ul>
  <li>Pour les créneaux enfants (8-10 ans) :
    <a href="https://www.helloasso.com/associations/suresnes-escalade/adhesions/{{ subscription.season.title|lower|replace({' ':'-'}) }}-enfants">https://www.helloasso.com/associations/suresnes-escalade/adhesions/{{ subscription.season.title|lower|replace({' ':'-'}) }}-creneau-enfants</a>
  </li>
  <li>Pour les créneaux jeunes (10-17 ans) :
    <a href="https://www.helloasso.com/associations/suresnes-escalade/adhesions/{{ subscription.season.title|lower|replace({' ':'-'}) }}-jeunes">https://www.helloasso.com/associations/suresnes-escalade/adhesions/{{ subscription.season.title|lower|replace({' ':'-'}) }}-jeunes</a>
  </li>
  <li>Pour les créneaux adultes :
    <a href="https://www.helloasso.com/associations/suresnes-escalade/adhesions/{{ subscription.season.title|lower|replace({' ':'-'}) }}-adultes">https://www.helloasso.com/associations/suresnes-escalade/adhesions/{{ subscription.season.title|lower|replace({' ':'-'}) }}-adultes</a>
  </li>
</ul>

<p>
  Une fois le règlement effectué, et sous réserve de places disponibles sur un des créneaux choisis, votre inscription sera validée par un des membres du bureau du club.<br>
  Vous recevrez alors un mail de confirmation.
</p>

<p><a href="{{ url('simple_subscription_print', { ref: subscription.id, key: subscription.key }) }}">Récapitulatif</a> de votre fiche de pré-inscription.</p>

<p>Pour <a href="{{ url('simple_subscription', { ref: subscription.id, key: subscription.key }) }}">modifier</a> vos informations, en cas d'erreur.</p>
{% endif %}

<hr>

<p>Nom : {{ subscription.lastName }}</p>
<p>Prénom : {{ subscription.firstName }}</p>
<p>Date de naissance : {{ subscription.birthday|date('d/m/Y') }}</p>

<hr>

<p>
  Sportivement,<br>
  L'équipe de Suresnes Escalade<br>
  <a href="mailto:inscription@suresnes-escalade.fr">inscription@suresnes-escalade.fr</a>
</p>

<p>PS : Conformément à la loi, vous avez un droit d'accès et de modification aux informations vous concernant.<br>
  Pour exercer ce droit, écrivez-nous à l'adresse suivante :
  <a href="mailto:contact@suresnes-escalade.fr">contact@suresnes-escalade.fr</a>
</p>
{% endblock %}
