{% block body %}

<p>Bonjour
  {{ subscription.firstName }},</p>

<p>Votre inscription a été validée par un membre du bureau.</p>

<hr>

<p>Nom :
  {{ subscription.lastName }}</p>
<p>Prénom :
  {{ subscription.firstName }}</p>
{% if subscription.activatedSlot %}
<p>Créneau :{{ subscription.activatedSlot.title }}</p>
{% else %}
<p>Pas de créneau de grimpe sur le mur.</p>
{% endif %}

<hr>
<p>Si vous avez besoin d'une attestation de paiement, vous pouvez la télécharger ici :
    {{ url('simple_subscription_voucher', { ref: subscription.id, key: subscription.key })|raw }}</p>
<ol>
  <li>
    <p>Attention, si vous êtes adulte, nouvel adhérent au club, vous devez nous transmettre un certificat médical de non contre-indication à la pratique de l'escalade
      (daté de {{ 'now'|date('Y') }}), dans les plus brefs délais, sans quoi votre inscription ne sera pas prise en compte et vous risquez
      de perdre la place (photo lisible ou scann du certificat à envoyer à
      <a href="mailto:inscription@suresnes-escalade.fr">inscription@suresnes-escalade.fr</a>)</p>
    <p>Ancien adhérent adulte, vous devez aussi transmettre un certificat médical récent (daté de
      {{ 'now'|date('Y') }}) si le dernier certificat transmis au club date de
      {{ 'now'|date('Y')-3 }}.</p>
  </li>

  <li>
    <p>L'adhésion à Suresnes Escalade implique d'accepter le règlement intérieur et les statuts du club.</p>
    <p>Votre licence vous sera envoyée par email par la FFME fin septembre.</p>

    {% if subscription.activatedSlot %}
    <p>Pour information la reprise des cours d'escalade est prévue le lundi
      {{ 'second monday of september'|date('d') }}
      septembre
      {{ subscription.season.beginAt|date('Y') }}.</p>
    {% endif %}
  </li>
</ol>

<p>Sportivement,<br>L'équipe de Suresnes Escalade<br><a href="mailto:inscription@suresnes-escalade.fr">inscription@suresnes-escalade.fr</a>
</p>

<p>PS : Conformement à la loi, vous avez un droit accès et de modification aux informations vous concernant.<br>
  Pour exercer ce droit, rendez vous à l'adresse suivante :
  <a href="https://suresnes-escalade.fr">https://suresnes-escalade.fr</a>
</p>
{% endblock %}</li>
