{% extends 'base.html.twig' %}

{% block javascripts %}
  <script src="{{ asset('app/js/form.js') }}"></script>
{% endblock %}

{% block body %}

  <style>
    .errors {
      color: red;
    }
    label {
      font-size: 15px;
      line-height: 23px;
      margin: 0 15px 15px 0;
      display: inline-block;
      width: 40%;
      text-align: right;
    }
    .required::after {
      content: " * ";
      color: red;
      font-weight: bold;
    }
    input,
    select {
      font-size: 15px;
      padding: 2px;
    }
    #app_appbundle_subscription_birthday,
    #app_appbundle_subscription_certificateDate {
      display: inline;
    }
    .gb-button {
      border: none;
    }
    .gb-button:hover {
      color: #fff;
    }
  </style>

  <h1>Inscription
    {{ subscription.season|lower }}</h1>

  {% if subscription['id'] is defined %}
    <p>Vous êtes en train de modifier l'inscription de "{{ subscription.firstName }}
      {{ subscription.lastName }}". Un email de confirmation vous a été envoyé. Tant que l'inscription n'est pas validée, vous pouvez modifier les informations saisies.</p>
    <p style="text-align: center">
      <a class="gb-button" href="?new">Inscrire un autre grimpeur</a>
    </p>
  {% endif %}

  {{ form_start(form) }}

  <div class="errors">
    {{ form_errors(form, { attr: { class: 'error' }}) }}
  </div>

  <h2>Coordonnées du grimpeur</h2>

  {{ form_row(form.lastName, { label: "Nom" }) }}
  {{ form_row(form.birthName, { label: "Nom de naissance" }) }}
  {{ form_row(form.firstName, { label: "Prénom" }) }}
  {{ form_row(form.licence, { label: "N° licence FFME" }) }}

  <p>
    <a href="http://www.ffme.fr/ffme/licence" target="_blank">N° de licence FFME</a>
    : il s'agit d'un numéro à 6 chiffres qui vous identifie à la fédération. Suresnes escalade vous l'a indiqué dans votre mail de ré-inscription si vous étiez licencié chez nous l'année dernière. Vous devez saisir ce numéro si vous avez déjà été licencié, sinon laissez le champ vide.</p>

  {{ form_row(form.birthday, { label: "Date de naissance" }) }}
  {{ form_row(form.birthPlace, { label: "Lieu de naissance" }) }}
  {{ form_row(form.sex, { label: "Sexe" }) }}
  {{ form_row(form.address, { label: "Adresse" }) }}
  {{ form_row(form.postalCode, { label: "Code postal" }) }}
  {{ form_row(form.city, { label: "Ville" }) }}
  {{ form_row(form.phone, { label: "Téléphone" }) }}
  {{ form_row(form.email, { label: "Adresse e-mail" }) }}
  <p>
    <b>Indiquez un mail qui restera valable toute l'année afin de recevoir votre fiche d'inscription, votre licence et les informations du club.</b>
  </p>
  {{ form_row(form.nationality, { label: "Nationalité" }) }}

  <div id="form_parent">
    <h2>Coordonnées d'un parent pour les mineurs</h2>
    {{ form_row(form.parentLastName, { label: "Nom" }) }}
    {{ form_row(form.parentFirstName, { label: "Prénom" }) }}
    {{ form_row(form.parentPhone, { label: "Téléphone" }) }}
    {{ form_row(form.parentEmail, { label: "Adresse E-Mail" }) }}
    {{ form_row(form.goesAlone, { label: "Est-il autorisé à rentrer seul ?" }) }}
  </div>
  <script>
    var refDate = Date.UTC({{ subscription.season.beginAt|date('Y') }}-18, 9, 1);
  </script>

  {# <h2>Informations concernant l'escalade</h2> #}


  {{ form_row(form.isRenewal, { label: "Vous-même ou un membre de votre famille est déjà adhérent du Club ?" }) }}
  {#{ form_row(form.climbingLevel, { label: "Niveau escalade ?" }) }#}

  <h2>Pour quel créneau souhaitez-vous vous inscrire ?</h2>

  <p>Veuillez consulter la
    <a href="https://suresnes-escalade.fr/creneaux/" title="Créneaux Suresnes Escalade {{ subscription.season.title }}" target="_blank">page de présentation des créneaux</a>
    et en choisir 2 correspondant à votre âge, votre niveau et vos disponibilités.</p>

  {{ form_row(form.slot1, { label: "1er souhait de créneau" }) }}
  {{ form_row(form.slot2, { label: "2e souhait de créneau" }) }}
  <p>Si aucun 2e créneau ne vous convient, choisissez "Aucun créneau possible"</p>
  {#{ form_row(form.noSlot, { label: "Cochez cette case si vous faites partie des administrateurs du club." }) }#}

  <h2>Assurances</h2>

  <p>Votre adhésion Suresnes Escalade comprend la licence FFME
    {{ subscription.season.beginAt|date('Y') }}/{{ subscription.season.endAt|date('Y') }}
    ainsi qu'une assurance "Responsabilité Civile" et "Défense Pénale et Recours" obligatoire (6 €).
                                                                                                                                                                                              L'assurance base est vivement conseillée pour tous les adhérents.
                                                                                                                                                                                              Pour plus de renseignements, vous pouvez consulter la
    <a href="https://www.ffme.fr/wp-content/uploads/2021/06/PACK-REG32501-V0421-BD.pdf" target="_blank">"Notice d'information" (PDF)</a>
    éditée par la FFME.</p>

  {{ form_row(form.insurance, { label: 'Assurance individuelle' }, { label: "" }) }}
  <p>Les options ne sont possibles qu'à partir de l'assurance base (pas d'options avec la RC seule).</p>
  {{ form_row(form.insuranceSlackline, { label: 'Option Assurance Slackline et Highline' }, { label: "" }) }}
  {{ form_row(form.insuranceSki, { label: 'Option Assurance Ski' }, { label: "" }) }}

  <p>Vous avez également la possibilité de souscrire des garanties optionnelles Indeminités Journalières qui seront effectives après souscription spécifique et règlement d'une surprime.</p>

  {{ form_row(form.insuranceIj, { label: 'Indemnités journalières' }, { label: "" }) }}

  <h2>Mode de règlement</h2>

  <p>
    <strong>Le règlement de la cotisation se fait par carte bancaire sur le site de HelloAsso</strong>
    (le lien pour accéder au formulaire de payement vous sera communiqué en finalisant votre fiche d'inscription).</p>
  <p>Si vous bénéficiez de PASS+, de coupons sport ou chèque CE,
    <a href="https://suresnes-escalade.fr/pass-et-coupons-sport/" target="_blank">Cliquez ici</a>
    pour en connaitre les modalités.</p>

  <h2>Certificat médical</h2>

  <p>
    <a href="https://suresnes-escalade.fr/certificat-medical/" target="_blank">Dans certaines situations</a>, vous devrez fournir un certificat médical.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Si c'est le cas, vous devrez le transmettre par mail à
    <a href="mailto:inscription@suresnes-escalade.fr">inscription@suresnes-escalade.fr</a>
    au plus tôt, sinon vous risquez de perdre la place.</p>

  {{ form_row(form.certificateOld, { label: "Sélectionnez votre situation :" }) }}

  <h2>
    Rétractation
  </h2>
  <p>
    L'inscription à Suresnes Escalade est réalisée pour la saison complète et est non remboursable. Toutefois, une rétractation est tolérée jusqu'au 1er septembre
    {{ subscription.season.beginAt|date('Y') }}
    et donnera lieu à la restitution des frais d'inscription.
  </p>
  <h2>
    Validation de l'inscription
  </h2>
  <p>
    Votre inscription ne sera prise en compte qu'après réception de votre règlement (en CB via le site HelloAsso) et sera validée dans la limite des places restantes dans les créneaux souhaités.
    {# <p>Les créneaux sont réservés dans l'ordre des paiements reçus. Nous ne pouvons pas vous garantir la disponibilité du créneau demandé, en particulier pour les 7/9 ans. Si les créneaux que vous avez demandés ne sont plus disponibles, nous vous recontacterons pour vous proposer un autre créneau ou un remboursement. <p> #}
    Vous allez recevoir un mail avec un lien vous permettant d'éditer votre fiche d'inscription (si vous ne recevez pas de mail, regardez dans vos courriers indésirables et vérifiez que vous avez bien renseigné votre adresse mail dans le formulaire).
  </p>
  <p>
    Votre inscription vaut acceptation du
    <a href="https://suresnes-escalade.fr/reglement-interieur-et-statuts-de-lassociation/" target="_blank">
      règlement intérieur et des statuts du club</a>. En cliquant sur valider ci-dessous, vous vous engagez à les respecter et vous pourrez procéder au règlement.</p>

  <div style="text-align: center">
    {{ form_row(form.submit, { attr: { class: "gb-button" } })}}
  </div>
  <p>Si vous n'arrivez pas à valider c'est qu'il manque un champ obligatoire. Voir sur fond rouge plus haut.</p>

  {{ form_end(form) }}
{% endblock %}
