{% extends 'base.html.twig' %}

{% block body %}
{% if subscription.status == 0 %}
<h2>ATTENTION, il n'y a plus de places dans les créneaux que vous avez choisis.</h2>
<p>Nous vous conseillons <a href="{{ path('simple_subscription', { ref: subscription.id, key: subscription.key }) }}">de modifier vos choix en cliquant ici.</a></p>
<p>Si toutefois aucun autre créneau ne vous convient, nous gardons votre pré-inscription en attente.</p>
<p>Vous avez dû recevoir votre fiche d'inscription sur votre email <strong>{{ subscription.email }}</strong> (sinon vérifiez dans vos spams). Si cet email ou d'autres informations sont incorrects, vous pouvez les corriger en suivant le lien ci-dessus.</p>
{% else %}
<!-- Bravo {{ subscription.firstName }} ! -->
<h2>Vos souhaits d'inscription ont bien été enregistrés pour la {{ subscription.season|lower }}.</h2>

<p>Votre demande est enregistrée sous le numéro <strong>{{ subscription.id }}</strong>.</p>
<p>Vous avez dû recevoir un mail sur cette adresse : <strong>{{ subscription.email }}</strong> (sinon vérifiez dans vos spams). Si cet email ou d'autres informations sont incorrects, vous pouvez encore <a href="{{ path('simple_subscription', { ref: subscription.id, key: subscription.key }) }}">les modifier en cliquant ici.</a></p>
<p>Le montant de votre cotisation annuelle est de <strong>{{ subscription.priceCalculated }} €</strong>.</p>
<p>Il ne vous reste plus qu'à effectuer votre règlement via HelloAsso, sinon votre demande ne pourra pas être prise en compte.
Cliquez sur le lien correspondant à votre créneau :</p>
<ul>
    <li><strong>Créneaux enfants (8-10 ans)</strong> : <a href="https://www.helloasso.com/associations/suresnes-escalade/adhesions/{{ subscription.season.title|lower|raw|replace({' ':'-'}) }}-enfants" target="_blank">formulaire HelloAsso 8-10 ans</a>.</li>
    <li><strong>Créneaux jeunes (10-17 ans)</strong> : <a href="https://www.helloasso.com/associations/suresnes-escalade/adhesions/{{ subscription.season.title|lower|raw|replace({' ':'-'}) }}-jeunes" target="_blank">formulaire HelloAsso 10-17 ans</a>.</li>
    <li><strong>Créneaux adultes</strong> : <a href="https://www.helloasso.com/associations/suresnes-escalade/adhesions/{{ subscription.season.title|lower|raw|replace({' ':'-'}) }}-adultes" target="_blank">formulaire HelloAsso adultes</a>.</li>
</ul>

{#
<p>Pour imprimer votre fiche d'inscription, <a href="{{ path('simple_subscription_print')} }">cliquez ici</a>.</p>
#}
{% endif %}
<!-- <p>Pour consulter le remplissage des différents créneaux pour la {{ subscription.season.title|lower }}, <a href="{{ path('slots_subscriptions') }}">cliquez ici</a>.</p> -->

<p style="text-align: center"><a href="{{ path('simple_subscription') }}?new" class="gb-button">Inscrire un(e) autre grimpeur(se)</p>

<p style="text-align: right"><a href="/">Retour sur le site de Suresnes Escalade</a></p>

<!-- <div class="textwidget"><h4>Découvrez notre partenaire</h4>
<a href="http://www.9cplus.com" target="_blank"><img src="http://www.9cplus.com/ressources/Animations/SE/SE1.jpg" name="image" style="margin-left:80px" onmouseover="image.src='http://www.9cplus.com/ressources/Animations/SE/SE2.jpg'" onmouseout="image.src='http://www.9cplus.com/ressources/Animations/SE/SE1.jpg'" onmousedown="image.src='http://www.9cplus.com/ressources/Animations/SE/SE2.jpg'" width="200" height="200" border="0"></a></div> -->

{% endblock %}
